.App {
  margin: 0 20%;
}
.center-app {
  margin: 0 auto;
}
.form-wrapper {
  display: flex;
}
.creation-form {
  width: 50%;
  input, textarea {

  }
}
input, select, textarea {
  width: 225px;
  margin: 2px;
}
#inputHealth, #inputPower {
  width: 112px;
}

#inputEffects {
  height: 100px;
  resize: none;
}
.display-card {
  width: 50%;
}

.wrapper {
  height: 8.128cm;
  width: 5.588cm;
  height: 3.5in;
  width: 2.5in;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1vw;
  margin: 50px auto;
  padding: 3px;
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 5px;
  background: linear-gradient(to bottom right, white, #ddd, white);
}
.row {
  display: flex;
  justify-content: center;
  div {
    background: white;
  }
}
//SETTING CARD ROWS HEIGHT
.first {
  height: 8%;
}
.second {
  height: 8%;
}
.third {
  height: 38%;
}
.fourth {
  height: 36%;
}
.fifth {
  height: 10%;
}
//DESIGN FOR EACH SECTION OF THE CARD
.casting-cost {
  text-align: center;
  width: 12%;
  outline: 1px solid black;
  font-size: 1.1em
}
.card-name {
  width: 87%;
  outline: 1px solid black;
}
.devotion-cost {
  width: 11%;
  outline: 1px solid black;
}
.element {
  width: 11%;
  outline: 1px solid black;
}
.card-section {
  width: 77%;
  outline: 1px solid black;
}
.type {
  width: 23%;
}
.class {
  width: 75%;
}
.image {
  width: 99%;
  outline: 1px solid black;
  img {
    height: 100%;
    width: 100%;
  }
}
.textbox {
  width: 99%;
  outline: 1px solid black;
}
.paragonEffectBox {
  border: 1px solid black;
}
.stats {
  width: 15%;
  text-align: center;
  font-size: 1.5em;
  outline: 1px solid black;
  margin-right: auto;
}
.health {
  width: 15%;
  text-align: center;
  font-size: 1.5em;
  outline: 1px solid black;
  margin-left: 1.5%;
  margin-left: auto;
}
